.category {
  max-width: 1024px;
  height: 80px;
  margin: 32px auto 0;

  flex-wrap: wrap;
}

.category-button {
  width: 180px;

  text-align: center;

  background-color: rgba(246, 246, 246, 0.7);
  border: 1px solid rgba(246, 246, 246, 0.9);
  border-radius: 4px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  line-height: 20px;

  margin: 0;
  outline: none;
  padding: 13px 23px;

  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
}

.selected {
  width: 180px;
  color: blue;
}
